* {
    margin: 0;
    padding: 0;
    font-family: "b nazanin";
}

input {
    background: transparent;
    border: none;
}

#main {
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite;
}

.factors-container {
    width: 210mm !important;
    height: 297mm !important;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.factor {
    width: 176mm;
    height: 204mm;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.header-section {
    width: 145mm;
    height: 33mm;
    display: flex;
}

.title-section {
    width: 145mm;
    height: 33mm;
    padding: 0;
}

.second-title {
    width: 172px;
    float: right;
}

.detail-section {
    width: 32%;
    padding: 10mm 0 0 0;
}

.detail-section label,
.date-item {
    margin-top: 14mm;
}

.detail-section p {
    display: flex;
    height: 50%;
    align-items: flex-end;
    margin-top: 4mm;
    height: fit-content;
    padding: 0;
}

.date-item {
    margin: 0;
    width: 90px;
    padding: 0 1mm 0 0;
}

.title-section {
    width: 68%;
    align-items: flex-start;
    padding: 8mm 0 0 0;
}

.title-section h3 {
    padding-right: 20px;
}

.factor-table {
    width: 145mm;
    height: 135mm;
    font-size: 14px;
}

.customer {
    width: 170px;
    height: 30px;
    font-size: 18px;
    float: left;
}

.customer-name {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.table-row,
.table-row-data {
    height: 11mm;
}

.table-row-header {
    font-size: 18px;
    height: 15mm;
}

.table-row-data {
    text-align: center;
    overflow: hidden;
}

.inputs {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
}

.textArea {
    text-align: right;
    height: 100%;
    padding: 1mm 1mm 0 0;
    line-height: 15px;
    font-size: 16px;

}

.factor-table,
.table-row,
.table-row-data,
.table-row-header {
    border: 1px solid black;
    border-collapse: collapse;
}

.th-0:nth-child(1) {
    width: 15mm;
}

.th-1:nth-child(2) {
    width: 31mm;
}

.th-2:nth-child(3) {
    width: 29mm;
}

.th-3:nth-child(4) {
    width: 16mm;
}

.th-4:nth-child(5) {
    width: 16mm;
}

.th-5:nth-child(6) {
    width: 14mm;
}

.th-6:nth-child(7) {
    width: 23mm;
}

.footer {
    width: 145mm;
    height: 35mm;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

@media print {
    body {
        background-color: white !important;
        width: 100% !important;
        height: 100% !important;
        page-break-inside: avoid !important;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
        overflow: hidden !important;
        transform-origin: top left !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: black !important;
        background-color: white !important;
    }

    #main {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    #main::before {
        content: none !important;
    }

    #main::after {
        content: none !important;
    }

    .factors-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .textArea {
        display: block;
        margin: 0 !important;
        padding: 1mm 1mm 0 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    /* .factors-container,
.factor,
.factor-table,
.table-row,
.table-row-data,
.table-row-header {
    border: 1px solid black !important;
} */

    #main,
    .factors-container,
    .factor,
    .factor-table,
    .table-row,
    .table-row-data,
    .table-row-header {
        border: 1px solid white !important;
    }

    .detail-section label,
    .detail-section p,
    .first-title,
    .second-title,
    .table-row-header,
    .footer {
        opacity: 0 !important;
    }
}

@page {
    size: A4 !important;
    transform-origin: top right !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none !important;
}