* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "b nazanin";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

#main {
    width: 660px;
    height: 840px;
    border: 2px solid black;
    margin-top: 30px;
    background-color: white;

    background: rgba(168, 233, 254, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(168, 233, 254, 0.3);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    background-color: white !important;
}

textarea {
    width: 100%;
    height: 100%;
    resize: unset;
    background: transparent;
    border: none;
    overflow: hidden;
    overflow-wrap: break-word;
}

textarea::-webkit-scrollbar {
    display: none;
}

option {
    white-space: normal;
    overflow-wrap: break-word;
}

select {
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.hide {
    pointer-events: none;
    opacity: 40%;
}

.show {
    pointer-events: auto;
    opacity: 100%;
}

#factor-type {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 60px;
    left: 60px;
    padding: 6px;
    margin: 0;
    border: 1px solid black;

    background: rgba(168, 206, 254, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(168, 206, 254, 0.3);
}

#factor-type input {
    margin: 0 0 15px 0;

    background: rgba(127, 147, 190, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(127, 147, 190, 0.3);
}

#factor-type label {
    font-size: 16px;
}

#factor-type button {
    font-size: 16px;
    width: 50px;
    height: 25px;
    font-weight: 600;
    margin: 0 5px 5px 0;
    font-family: 'B-Nazanin';

    background: rgba(151, 165, 195, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(151, 165, 195, 0.3);
}

#factor-type button:hover {
    background: rgba(163, 172, 192, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(163, 172, 192, 0.3);
}

#factor-type hr {
    margin: 7px;
}

#padding-top-factor {
    width: 60px;
    height: 25px;
    padding: 7px;
    font-size: 19px;
}

#product-types-input {
    width: 200px;
    height: 25px;
}

#import-exel-input {
    width: 200px;
    padding: 6px;
}

.active-suggest {
    opacity: 100%;
    pointer-events: auto;
}

.deactive-suggest {
    opacity: 40%;
    pointer-events: none;
}

#add-option {
    width: 70px !important;
}

@media print {
    #factor-type {
        opacity: 0 !important;
    }
}